

@media (min-width: 992px) {
        .collapse {
            margin-left: 50%;
        }

        .main{
            padding-bottom: 5%;
        }

        .main-body {
            position: relative;
        }

        .card {
            width: 45vw;
            position: absolute;
            top: 65%;
            left: 5vh;
        }

        .left>h1{
            margin-bottom: 3vh;
        }

        .search{
            height: auto;
        }

        .cities{
            margin-top: 30vh;
        }

        body{
            overflow-x: hidden;
        }
    }


    @media (max-width: 992px) {
        .cook-img{
            position: relative;
        }
        .card{
            position: absolute;
            top: 90vh;
        }
        
        .main{
            height: 40%;
            overflow-y: hidden;
        }
        .right{
            margin-top: 0px;
            top: -10vh;
        }
        .panda-img {
            position: fixed;
            top: 0px;
            width: 70%;
            right: 10vh;
        }
        .left {
            width: 80%;
            margin-top: 0px;
        }

        .left>h1 {
            width: 50%;
            font-size: 1.5rem;
            margin-top: 10vh;

        }

        .left > form{
            margin-top: 10vh;
        }

        .find-food {
            width: 100%;
        }

        .cities{
            margin-top: 10vh;
        }

        .heading-1{
            margin-top: 5vh;
            margin-bottom: 5vh;
            text-align: center;
        }

        .heading-2{
            margin-top: 5vh;
            margin-bottom: 5vh;
            text-align: center;
        }

        .img-card{
            margin: 0px;
        }
    }

    @media (max-width: 768px) {
        
        .main{
            height: auto;
        }

        .card{
            position: absolute;
            top: 70vh;
        }
        .left {
            width: 100%;
        }

        .left>h1 {
            width: 50%;
            font-size: 1.5rem;
        }

        
        .find-food {
            width: 100%;
            display: block;
        }

        .card{
            top: 90vh;
        }

        .cities{
            margin-top: 20vh;
        }
    }

    @media (max-width: 618px) {
        .search{
            margin-top: 0vh;
        }

        .left > form{
            margin-top: 0vh;
        }

        .heading-2{
            margin-top: 80vh;
        }

    }



    @media (max-width: 576px) {

        .logo{
            margin-left: 0px;
        }
        
        .main {
            height: auto;
        }

        .left>h1 {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 4vw;
        }

        .cities{
            margin-top: 30vh;
        }

        .left > h1{
            margin-top: 6vh;
        }
        .left > form{
            margin-top: 2vh;
        }
    }

    @media (max-width: 470px) {

        .right{
            top: 0vh;
        }
        .left {
            width: 100%;
        }

        .left > h1 {
            width: 50%;
            font-size: 1.1rem;
            margin-left: 2vw;
        }

        .left > form{
            margin-top: 5vh;
        }

        .cities{
            margin-top: 50vh;
        }

        .heading-2{
            margin-top: -10vh;
        }
    }

    @media (max-width: 380px) {
        
        .main{

        }

        .cities{
            margin-top: 55vh;
        }

        .heading-2{
            margin-top: 5vh;
        }
    }